<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel Search Engine</title>
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">-->
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
    <h1>Excel Search Engine</h1>

    <!-- Search bar -->
    <input type="text" id="searchInput" placeholder="Search..." oninput="fetchData(this.value)">

<!--    <script src="{{ url_for('static', filename='script.js') }}"></script>-->

    <p id="description" style="display:none;"></p> <!-- Description (hidden by default) -->

    <table id="results-table">
        <thead>
            <tr id="table-head"></tr>
        </thead>
        <tbody id="table-body"></tbody>
    </table>
    <br>

    <form id="uploadForm" enctype="multipart/form-data" method="POST">
    <input type="file" id="fileInput" name="file" accept=".xlsx, .xls"/>
    <button type="submit">Upload New Excel File</button>
    <button type="button" id="downloadexcel">Download Excelsheet</button>
</form>

    <script src="/static/script.js"></script>
</body>
</html>
